*.iml
.gradle
/local.properties
# ---------------
# Ignore all .idea files...
.idea/

# ...except for those useful for team-shared project setup
!.idea/codeStyles/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations/
# ---------------

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/dev/
/app/prod/
/.kotlin/
